path_error_explanation.html



<!-- 
EXPLANATION FOR FORM_FOR AND NO METHOD PATHS ERROR

FORM_FOR USES FORM.SUBMIT TO SEND THE INFO IT COLLECTED TO A URL, USUALLY IT CAN FIGURE OUT THAT URL WITHOUT ME SPECYING IT, BECAUSE THEY ARE STATI URLS. BIT IN THIS CASE I HAVE A DYNAMIC URL THAT CHANGES DEPENDING ON THE ID OF THE DECK. SO FORM.SUBMIT DOESNT KNOW TO WHICH URL SEND ITS INFO, AND UNLESS I EXPLICITLY SPECIFY IT, IT WILL GIVE ME A NO METHOD ERROR FOR DECK_PATH. I CAN SOLVE THIS EASILY BY NAMING THE ROUTE WI AS: :DECK IN ROUTES.RB, WHICH TELLS FORM.SUBIT WHERE TO SEND THE INFO WHEN HAVING VARIABLE ID IN THE URL.
<br>
<%= form_for((@deck), #url: "/decks/#{@deck.id}") do |form|%> 	
<div>			
<%= form.label #:name %>	
<%= form.text_field #:name%>
</div>
<%= form.submit #"Update Deck"%>

<%#end%>
<br>
<%= link_to #"return", decks_path %>
 -->